@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background: #121212
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.btn
  background: linear-gradient(270deg, #E25F23 0%, #E22E23 100%);
  border: 1px solid transparent
  box-shadow: 0px 4px 16px rgba(226, 95, 35, 0.4);
  height: 80px
  font-size: 18px
  line-height: 30px
  letter-spacing: 0.2em
  color: #FFFFFF
  border-radius: 40px
  &::after
    content: ""
    background: url('../img/btn_arrow.svg') no-repeat
    width: 19px
    height: 15px
    display: inline-block
    vertical-align: middle
    margin-left: 15px
  &:hover
    color: #fff
    text-decoration: none
    background: transparent
    border-color: #fff
    box-shadow: none

.btn2
  border: 1px solid #FFFFFF
  box-sizing: border-box
  border-radius: 40px
  height: 80px
  width: 343px
  text-align: center
  line-height: 80px
  color: #fff
  font-size: 18px
  letter-spacing: 0.2em
  &::after
    content: ""
    background: url('../img/btn_arrow.svg') no-repeat
    width: 19px
    height: 15px
    display: inline-block
    vertical-align: middle
    margin-left: 15px
  &:hover
    color: #E22E23
    text-decoration: none
    background: #fff
    border-color: #E22E23
    &::after
      background: url('../img/btn_arrow2.svg') no-repeat


.wrap
	max-width: 1618px
	margin: 0 auto
	width: 90%

section
  &.main + section
    margin-top: 100px

.slick-arrow
  text-indent: -9999px
  border: none
  background-color: none
  width: 24px
  height: 45px
  cursor: pointer
  transition: all .3s
  position: absolute
  top: 50%
  transform: translateY(-50%)
  z-index: 1
  &:active, &:focus
    outline: none
  &:hover
    opacity: .6
  &.slick-prev
    background: url('../img/arrow-prev.svg') no-repeat
    left: 0
  &.slick-next
    background: url('../img/arrow-next.svg') no-repeat
    right: 0
    

header
  padding-top: 62px
  height: 1036px
  background: url('../img/header_desc.svg') right -100px no-repeat
  .wrap_row
    display: flex
    position: relative
    z-index: 10
  .sign_in
    margin-left: auto
    margin-right: 0
nav
  margin-left: 11.9283%
  ul
    list-style: none
    display: flex
    padding-left: 0
    li + li
      margin-left: 47px
    li
      &.active
        a
          color: rgb(226,95,35)
          border-bottom: 1px solid rgb(226,95,35)
    a
      font-family: 'Roboto'
      color: #fff
      border-bottom: none
      &:hover
        color: rgb(226,95,35)
        text-decoration: none
        border-bottom: 1px solid rgb(226,95,35)
  
.sign_in
  a
    width: 120px
    height: 38px
    border: 2px solid #FFFFFF
    border-radius: 19px;
    color: #fff
    font-size: 14px
    line-height: 36px
    font-weight: bold
    display: block
    padding-left: 29px
    position: relative
    &::after
      content: ""
      width: 38px
      height: 38px
      border-radius: 50%
      border: 2px solid #FFFFFF
      background: url('../img/icon_login.svg') center no-repeat
      display: block
      position: absolute
      right: -2px
      top: -2px

.header_man
  position: absolute
  top: 0px
  left: 42%

.header_content
  margin-top: 64px
  .titleh1
    font-family: BebasNeue
    font-style: normal
    font-weight: bold
    font-size: 288px
    line-height: 250px
  small
    font-size: 18px
    line-height: 30px
    letter-spacing: 0.15em
    color: #E5E5E5
    max-width: 447px
    display: block
    margin-top: 55px
    position: relative
    &::after
      content: ""
      width: 188px
      height: 2px
      background: #E25F23
      box-shadow: 0px 0px 5px #E25F23
      position: absolute
      right: 10px
      bottom: 12px


  .btn
    margin-top: 68px
    display: inline-block
    width: 348px
    text-align: center
    line-height: 80px

  
.advantages
  margin-top: -65px
  display: flex
  .advantages_img
    width: 35%
    img
      max-width: 100%
  .advantages_items
    counter-reset: item;
    padding-top: 94px
    padding-left: 49px
    width: 65%
    height: 598px
    display: flex
    flex-direction: column
    flex-wrap: wrap
  .advantages_item
    max-width: 515px
    position: relative
    &:nth-child(1)
      max-width: 410px
      p
        padding-right: 40px
    &::before
      counter-increment: item;
      content: "0" counter(item)
      position: absolute
      top: -30px
      left: 0
      z-index: -1
      font-weight: bold
      font-size: 72px
      line-height: 69px
      opacity: 0.15
    .title
      color: #E25F23
      font-size: 24px
      font-weight: bold
      margin-bottom: 23px
    p
      font-size: 16px
      line-height: 30px
      letter-spacing: 0.15em
      color: #FFFFFF

    &:nth-child(3)
      margin-top: 40px
  



.top_offers
  .top_offers__wrap
    position: relative
  .tab_links
    position: absolute
    right: 0
    top: 0
    height: 59px
    a
      border: 2px solid #676767
      border-radius: 29px
      line-height: 55px
      height: 55px
      font-size: 18px
      color: #676767
      padding: 0 33px
      display: inline-block
      border-radius: 30px
      &:nth-child(1)
        padding-right: 55px
        position: relative
        right: -15px
        &.active
          padding-right: 33px
      &:nth-child(2)
        padding-left: 55px
        position: relative
        left: -35px
        &.active
          padding-left: 35px
      &.active
        background: linear-gradient(267.38deg, #E25F23 0.57%, #E23123 99.25%)
        font-weight: bold
        font-size: 18px
        color: #FFFFFF
        top: 1px
        border-color: #E23123
        z-index: 1
      &:hover
        color: #fff
        text-decoration: none

  .tab_contents
    .tab_content
      display: none
      &.active
        display: block

.top_slider
  padding: 0 20px
  .slider_item
    margin: 0 15px

.small_card
  display: block
  background: #1C1D1C
  border-radius: 10px
  position: relative
  max-width: 371px
  padding: 49px 38px 41px
  transition: all .3s
  &:hover
    opacity: 0.7
    text-decoration: none
  &:focus, &:active
    outline: none
  .hot_img
    position: absolute
    top: 23px
    left: 29px
  .small_card__img
    height: 290px
    max-width: 290px
    img
      max-width: 100%
  .small_card__title
    font-weight: bold
    font-size: 24px
    line-height: 35px
    text-align: center
    color: #FFFFFF
    margin-bottom: 28px
    height: 70px
    overflow: hidden

  .small_card__price
    display: flex
    justify-content: space-between
    span
      display: block
      text-align: center
      font-size: 36px
      line-height: 1
      &.price1
        color: #5766CB
      &.price2
        color: #E25F23
    small
      display: block
      margin-top: 14px
      font-size: 18px
      line-height: 1
      color: #676767


.block_titl
  margin-bottom: 80px
  small
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #E25F23;
    display: block
    margin-bottom: 8px
    &::before
      content: ""
      display: inline-block
      vertical-align: middle
      width: 145px
      height: 2px
      background: #E25F23
      margin-right: 20px
  p
    font-family: Gotham Pro;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;


.big_info
  background: #1D1D1E
  height: 778px
  display: flex
  justify-content: space-between
  .big_info__data
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    width: 35%
  .big_info__img
    height: 100%
    width: 65%
    background-repeat: no-repeat
    background-size: cover
  .big_info__item
    width: 332px
    & + .big_info__item
      margin-top: 84px
    span
      font-weight: bold
      font-size: 96px
      line-height: 1
      color: #E25F23
      position: relative
      &:after
        content: ""
        height: 78px
        width: 100%
        background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #1D1D1E 100%,);
        z-index: 1
        position: absolute
        bottom: 0
        left: 0
    small
      display: block
      font-size: 18px
      line-height: 30px
      letter-spacing: 0.15em
      color: #FFFFFF


.cases
  margin-left: 7.5%
  overflow-x: auto
  white-space: nowrap
  .cases_item
    margin-bottom: 58px
    white-space: normal
    display: inline-block
    background: #1c1d1c
    max-width: 616px
    img
      max-width: 100%
      height: 370px
      border-radius: 12px 12px 0px 0px
    .cases_item__content
      padding: 39px 43px 45px
      p
        font-weight: bold
        font-size: 24px
        line-height: 30px
      small
        margin-top: 22px
        display: block
        font-size: 18px
        line-height: 30px
        letter-spacing: 0.15em

    & + .cases_item
      margin-left: 22px

  .about_item
    margin-bottom: 58px
    white-space: normal
    display: inline-block
    background: #1c1d1c
    max-width: 800px
    height: 529px
    & + .about_item
      margin-left: 25px
  .author
    display: flex
    .author_info
      .author_info__soc
        margin-top: 47px
        display: flex
        justify-content: center
        a + a
          margin-left: 22px
        a
          transition: all .3s
          &:hover
            opacity: 0.6
    .author_cont
      padding: 54px 74px 0 34px
      white-space: normal
      .author_cont__name
        font-weight: bold
        font-size: 24px
        margin-bottom: 22px
      p
        font-size: 18px
        line-height: 30px
        letter-spacing: 0.15em

.author
  .ppq-audio-player
    height: 51px
    line-height: 51px
    background: none
    .player-text
      position: absolute
      left: 70px
      top: 4px
      font-size: 14px
      line-height: 1.5
      letter-spacing: 0.15em
      color: #E25F23
    .player-bar
      height: 2px
      .player-bar-loaded
        background: #676767
        border-radius: 5px
      .player-bar-played
        background: #E25F23
        
    .player-time-duration
      font-size: 14px
      line-height: 30px
      letter-spacing: 0.15em
      color: #676767
      margin-top: 10px
    .play-pause-btn
      margin: 0
      .play-pause-icon
        width: 50px
        height: 50px
        border: none
        background: url('../img/play-icon.svg') no-repeat
        box-sizing: border-box
        &::after
          background-image: url('../img/polygon1.svg')
          background-size: contain
          background-repeat: no-repeat
          background-position: center
    .player-bar
      margin-top: 30px
      margin-left: 71px
      width: 305px
  .player-time-current
    display: none
  
.works_drop
  padding: 100px 0 50px
  position: relative
  margin-top: -20px
  &::before
    content: ""
    width: 35%
    background: rgba(226, 95, 35, 0.06)
    height: 100%
    position: absolute
    top: 0
    left: 0
    display: block

.steps
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin: 0 -40px
.step
  display: flex
  flex-direction: column
  width: calc(33% - 80px )
  margin: 0 40px 0
  &:nth-child(1),&:nth-child(2),&:nth-child(3)
    margin-bottom: 213px
  &:first-child, &:last-child
    .step_count
      color: #E25F23
  &:nth-child(1)
    .step_count
      span
        background: #1E1713
  &:nth-child(6)
    order: 4
    .step_count
      span
        background: #1E1713
    .step_text
      order: 3
  &:nth-child(4)
    order: 6
    .step_text
      order: 3
    .step_count
      &::after
        content: none
  &:nth-child(5)
    .step_text
      order: 3
    order: 5
  &:nth-child(3)
    .step_count
      &::after
        width: 1px
        top: 100px
        left: 15px
        height: 136px
  .step_count
    color: #5766CB
    font-weight: bold
    font-size: 24px
    line-height: 50px
    position: relative
    margin-bottom: 29px
    .video_box
      display: none
      position: absolute
      top: -275px
      width: 312px
      height: 260px
      left: calc(-50px - 50%)
      border-radius: 10px
      .video_box__iframe
        background: #C4C4C4
        height: 185px
        display: flex
        align-items: center
        justify-content: center
        font-size: 14px
        line-height: 30px
        color: #000000
        position: relative
        z-index: 2
      .video_box__desc
        background: url('../img/video_box_bg.svg') no-repeat
        display: flex
        justify-content: center
        align-items: center
        height: 80px
        position: relative
        z-index: 1
        top: -10px
        a
          font-weight: normal
          margin-left: 18px
          font-size: 14px
          line-height: 30px
          text-decoration: underline
          color: #FFFFFF
    span
      padding: 0 50px 0 0
      background: #121212
      z-index: 2
      position: relative
      a
        margin-right: 22px
        transition: all .3s
        &:hover
          opacity: .8
          & + .video_box
            display: block
    &::after
      content: ""
      display: block
      position: absolute
      top: 25px
      width: 100%
      background: #C4C4C4
      height: 1px

  .step_icon
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 39px
    
  .step_text
    display: block
    font-size: 18px
    line-height: 30px
    letter-spacing: 0.15em
    height: 120px
  .step_title
    height: 60px
    font-weight: bold
    font-size: 24px
    line-height: 30px
    margin-bottom: 11px
    span
      
  .step_count


.advant_block
  margin-left: -15px
  margin-right: -15px
  margin-bottom: -174px
  display: flex
  flex-wrap: wrap
  .advant_item
    width: 49%
    max-width: 771px
    margin: 0 15px 20px
    background: #1C1D1C
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15)
    border-radius: 10px
    display: flex
    align-items: center
    padding: 38px 40px
    p
      margin-bottom: 0
      font-size: 18px
      line-height: 30px
      letter-spacing: 0.15em
  .advant_item__img
    width: 70px
    height: 70px
    display: flex
    align-items: center
    justify-content: center
    margin-right: 44px


.pre_footer
  height: 351px
  width: 100%
  background: linear-gradient(90.63deg, #E25F23 0.1%, #E23123 99.91%)

  .orange_block
    padding-top: 146px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    p
      margin-bottom: 42px
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 0.15em;
      color: #FFFFFF;


footer
  background: #282828
  height: 166px
  padding-top: 67px
  .f_wrap
    display: flex
    align-items: center
    justify-content: center
  .f_copy
    margin-left: auto
    margin-right: 0
  .f_soc
    background: rgba(255,255,255,.2)
    border-radius: 56px
    padding: 19px 22px
    margin-left: auto
    margin-right: 0
    a + a
      margin-left: 22px


@media (max-width: 1440px)
  .step 
    .step_title
      font-size: 18px
      line-height: 1.4
    .step_text
      font-size: 16px
      line-height: 1.4
      height: 95px
    .step_count
      margin-bottom: 20px
  .advant_block 
    .advant_item
      width: 47%
  .advantages 
    .advantages_item
      max-width: 430px
      .title
        max-width: 90%
  .header_man
    left: 49%;
    max-width: 48%;
    img
      max-width: 100%
  .header_content .titleh1
    font-size: 258px
@import "media" // Always at the end
